.about-agents {

    margin-top: 40px;
    width: 60%;
    font-size: 1.25rem;
    line-height: 1.7;
    color: gray;
    font-weight: 300;


    @media screen and (max-width: 375px) {

        width:375px
        
    }
}


.agents {


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
justify-content: space-between;

@media screen and (max-width: 375px) {

    flex-direction: column;
    
    
}


    }


.agent-wrap {
    
    width:30%;

    




}

.agent { 

width: 100%;
background-color: $myturquoise;

@media screen and (max-width: 375px) {

    margin-bottom: 1.5rem;
    
}

img { 

    width: 100%;
}


.name {
    
   padding-left: 20px;
   padding-top: 20px;

}

.title { padding: 20px;

}


}