.contact-home {

    text-align: center;

    background-color: #f8f9fa;

}

.contact-wrapper {

    justify-content: space-between;
    padding: 30px;

    @media screen and (max-width: 375px) {

        flex-direction: column;
        
    }


}

.contact-left { 

    text-align: left;
    padding: 30px;
    background-color: #fff;
    width: 60%;

    @media screen and (max-width: 375px) {

      max-width: 100%; 

        
    }

    h3 {

margin-bottom: 30px;

    }

    .button {
        
        border: 0px;
        margin-top: 30px; 

        @media screen and (max-width: 375px) {

            width: 200px;
                  
              }
    
    
    }

}
.contact-right { 
    
    font-family: 'Roboto', sans-serif;
    color: grey;
    text-align: left;
    p { padding-bottom: 15px;
        line-height: 1.7;
    
    }

    a { 
        
        color: $myturquoise;
        &:hover { 

            color: $link-hover;
        }
    
    }
    padding: 30px;
    background-color: #fff;
    width: 25%;

}

.form-wrap {

    font-family: 'Roboto', sans-serif;

    // display: flex;
    // flex-direction: row;

    @media screen and (max-width: 375px) {

        width: 375px;

        form {


            @media screen and (max-width: 375px) {

                width: 375px;
                      
                  }

        }

              
          }


max-width: 100%;

}

.first_last { 

    width: 450px;
    // input { width:100%}

    @media screen and (max-width: 375px) {

       width: 100%;
        
    }

    div{
        
        padding-right: 30px;
}

}
label {display: block;
    
padding-bottom: 10px;
padding-top: 10px;
}

input {padding: 10px;
    width: 96%;

    @media screen and (max-width: 375px) {

       width: 100%;
        
    }


}

textarea { width: 561px;


    @media screen and (max-width: 375px) {

        width: 100%;
        
    }

}


.button { width: 200px;

    @media screen and (max-width: 375px) {

        width: 100%;
        
    }}
