

.hero { 

    // background-color: #fff;

    text-align: center;
    width: 100%;
    // height: 800px;

// .swiper-wrapper {
//     display: flex;
//     align-items: center; 
//     // justify-content: center;
//     margin: 0 auto;
//     width: 600px;

// }

    .wrapper { width:570px}

    p { 
        
        font-size: 1.2rem;
        line-height: 1.5;
        font-weight: 300;
        margin-top: 30px;
        margin-bottom: 50px;
        font-family: 'Roboto', sans-serif;
        color: white;
        // line-height: 25px;

        

    
    }

    .swiper-slide {


display: flex;
justify-content: center;
align-items: center;
    }




}