.how-it-work {

background-color: $myturquoise;
height: 385px;
width: 100%;
text-align: center;

@media screen and (max-width: 375px) {

height: auto;
padding-bottom: 3rem;
    
}

.spacer {height: 60px;}

.steps-wrap { 
    
    text-align: center;
    justify-content: space-between;
}

h3 { padding: 20px 0;}


}

.fa-home { font-size: 30px;}
.fa-dollar-sign { font-size: 30px;}
.fa-house-user { font-size: 30px;}

.steps { 
    
    width: 30%;
    padding-top: 60px;
}

