.newsevents {

    text-align: center;
    .news-wrap {

        width: 100%;
        justify-content: space-between;
        text-align: left;
    }

h2 {


    @media screen and (max-width: 375px) {

        width: 375px;
              
          }

}



}

.news { 

    width: 30%;
    img { width: 100%;}
    h3 { padding: 20px 0 10px;}
    a { 
        
        color: $myturquoise;
        &:hover { 

            color: $link-hover;
        }
    
    }

    p { color: $mylightgrey;}

    @media screen and (max-width: 375px) {

       margin-bottom: 1.5rem;
        
    }

}