body { 

    background-color: grey;
}


.wrapper {
    
    width: 1140px ;
    padding: 0 15px;
    margin:  0 auto;

}

a { text-decoration: none; }


h1 {

    font-size: 3rem;
    font-weight: 400;
    color: #fff;
    line-height: 55px;


    font-family: "Oswald", sans-serif;
    text-transform: uppercase;

}

.button { 

        
        padding: 15px 35px ;
        background-color: $turquoise;
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        // border-color: #37cfa2;
        color: #fff;
    &:hover { 
        
        color: $turquoise;
        background-color: white;
    
    }

}