header {font-family: "Oswald", sans-serif; }

.logo { font-size: 1.7rem; }
header {    
    
    z-index: 10;
    position: fixed;
    width: 100vw;
    height: 84px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    display:  flex;
    justify-content: space-between;
    align-items: center;
}



nav {

    display:  flex;
    justify-content: space-between;



    a{

        font-family: "Oswald", sans-serif;
        padding: 5px 20px;
        color: rgba(255, 255, 255, 0.5);
        // display: inline-block;
        text-decoration: none !important;
        text-transform: uppercase;

        &:hover{ 

            color: rgb(255, 255, 255);

        


        }
    }

}